{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/main/style_login.css' %}">
    <title>Document</title>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-logo">
            <a href="#"><img src="{% static "/main/logo.svg" %}" alt="RNDSOFT X NEXTGEN"></a>
        </div>
    </div>
</header>

<section class="auth">
    <div class="container">
        <div class="form-container">
            <div class="form-fields">
                <div class="form-field">
                    <img class="section-logo" src="{% static "/main/logo.png" %}">
                </div>

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" style="color: red" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-field">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-field">
                        <input type="password" class="form-control" name="password" placeholder="Пароль">
                    </div>
                    <div class="form-button">
                        <button type="submit" class="button">Авторизация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>